# Bank 0
NET "SV2<30>"         LOC = P144  | IOSTANDARD = LVTTL; # L1P0
NET "SV2<31>"         LOC = P143  | IOSTANDARD = LVTTL; # L1N0
NET "SV2<32>"         LOC = P142  | IOSTANDARD = LVTTL; # L2P0
NET "SV2<33>"         LOC = P141  | IOSTANDARD = LVTTL; # L2N0
NET "SV2<34>"         LOC = P140  | IOSTANDARD = LVTTL; # L3P0
NET "SV2<35>"         LOC = P139  | IOSTANDARD = LVTTL; # L3N0
NET "SV2<36>"         LOC = P138  | IOSTANDARD = LVTTL; # L4P0
NET "SV2<37>"         LOC = P137  | IOSTANDARD = LVTTL; # L4N0
NET "SV2<38>"         LOC = P134  | IOSTANDARD = LVTTL; # L34P0
NET "SV2<39>"         LOC = P133  | IOSTANDARD = LVTTL; # L34N0
NET "SV2<40>"         LOC = P132  | IOSTANDARD = LVTTL; # L35P0
NET "SV2<41>"         LOC = P131  | IOSTANDARD = LVTTL; # L35N0
NET "SV2<42>"         LOC = P127  | IOSTANDARD = LVTTL; # L36P0
NET "SV2<43>"         LOC = P126  | IOSTANDARD = LVTTL; # L36N0
NET "SV2<44>"         LOC = P124  | IOSTANDARD = LVTTL; # L37P0
NET "SV2<45>"         LOC = P123  | IOSTANDARD = LVTTL; # L37N0
NET "SV1<37>"         LOC = P121  | IOSTANDARD = LVTTL; # L62P0
NET "SV1<38>"         LOC = P120  | IOSTANDARD = LVTTL; # L62N0
NET "SV1<35>"         LOC = P119  | IOSTANDARD = LVTTL; # L63P0
NET "SV1<36>"         LOC = P118  | IOSTANDARD = LVTTL; # L63N0
NET "SV1<33>"         LOC = P117  | IOSTANDARD = LVTTL; # L64P0
NET "SV1<34>"         LOC = P116  | IOSTANDARD = LVTTL; # L64N0
NET "SV1<31>"         LOC = P115  | IOSTANDARD = LVTTL; # L65P0
NET "SV1<32>"         LOC = P114  | IOSTANDARD = LVTTL; # L65N0
NET "SV1<29>"         LOC = P112  | IOSTANDARD = LVTTL; # L66P0
NET "SV1<30>"         LOC = P111  | IOSTANDARD = LVTTL; # L66N0

# Bank 1
NET "SV1<27>"         LOC = P105  | IOSTANDARD = LVTTL; # L1P1
NET "SV1<28>"         LOC = P104  | IOSTANDARD = LVTTL; # L1N1
NET "SV1<25>"         LOC = P102  | IOSTANDARD = LVTTL; # L32P1
NET "SV1<26>"         LOC = P101  | IOSTANDARD = LVTTL; # L32N1
NET "SV1<23>"         LOC = P100  | IOSTANDARD = LVTTL; # L33P1
NET "SV1<24>"         LOC = P99   | IOSTANDARD = LVTTL; # L33N1
NET "SV1<21>"         LOC = P98   | IOSTANDARD = LVTTL; # L34P1
NET "SV1<22>"         LOC = P97   | IOSTANDARD = LVTTL; # L34N1
NET "SV1<19>"         LOC = P95   | IOSTANDARD = LVTTL; # L40P1
NET "SV1<20>"         LOC = P94   | IOSTANDARD = LVTTL; # L40N1
NET "SV1<17>"         LOC = P93   | IOSTANDARD = LVTTL; # L41P1
NET "SV1<18>"         LOC = P92   | IOSTANDARD = LVTTL; # L41N1
NET "SV1<15>"         LOC = P88   | IOSTANDARD = LVTTL; # L42P1
NET "SV1<16>"         LOC = P87   | IOSTANDARD = LVTTL; # L42N1
NET "SV1<13>"         LOC = P85   | IOSTANDARD = LVTTL; # L43P1
NET "SV1<14>"         LOC = P84   | IOSTANDARD = LVTTL; # L43N1
NET "SV1<11>"         LOC = P83   | IOSTANDARD = LVTTL; # L45P1
NET "SV1<12>"         LOC = P82   | IOSTANDARD = LVTTL; # L45N1
NET "SV1<9>"          LOC = P81   | IOSTANDARD = LVTTL; # L46P1
NET "SV1<10>"         LOC = P80   | IOSTANDARD = LVTTL; # L46N1
NET "SV1<7>"          LOC = P79   | IOSTANDARD = LVTTL; # L47P1
NET "SV1<8>"          LOC = P78   | IOSTANDARD = LVTTL; # L47N1
NET "SV1<5>"          LOC = P75   | IOSTANDARD = LVTTL; # L74P1
NET "SV1<6>"          LOC = P74   | IOSTANDARD = LVTTL; # L74N1

# Bank 2
NET "CCLK"            LOC = P70   | IOSTANDARD = LVTTL; # CCLK
NET "SV1<3>"          LOC = P67   | IOSTANDARD = LVTTL; # L2P2
NET "SV1<4>"          LOC = P66   | IOSTANDARD = LVTTL; # L2N2
NET "SPI_CHANNEL<3>"  LOC = P65   | IOSTANDARD = LVTTL; # D0
NET "SPI_CHANNEL<2>"  LOC = P62   | IOSTANDARD = LVTTL; # D1
NET "SPI_CHANNEL<1>"  LOC = P61   | IOSTANDARD = LVTTL; # D2
NET "AVR_RX"          LOC = P59   | IOSTANDARD = LVTTL; # AVR_RX
NET "SV1<0>"          LOC = P58   | IOSTANDARD = LVTTL; # L14P2
NET "SV1<1>"          LOC = P57   | IOSTANDARD = LVTTL; # L14N2
NET "CLK"             LOC = P56   | IOSTANDARD = LVTTL; # CLK
NET "AVR_TX"          LOC = P55   | IOSTANDARD = LVTTL; # AVR_TX
NET "SV2<0>"          LOC = P51   | IOSTANDARD = LVTTL; # L31P2
NET "SV2<1>"          LOC = P50   | IOSTANDARD = LVTTL; # L31N2
NET "SPI_SS"          LOC = P48   | IOSTANDARD = LVTTL; # SS
NET "SPI_CHANNEL<0>"  LOC = P46   | IOSTANDARD = LVTTL; # D3
NET "SPI_MISO"        LOC = P45   | IOSTANDARD = LVTTL; # MISO
NET "SPI_MOSI"        LOC = P44   | IOSTANDARD = LVTTL; # MOSI
NET "SPI_SCK"         LOC = P43   | IOSTANDARD = LVTTL; # SCK
NET "SV2<2>"          LOC = P41   | IOSTANDARD = LVTTL; # L64P2
NET "SV2<3>"          LOC = P40   | IOSTANDARD = LVTTL; # L64N2
NET "AVR_RX_BUSY"     LOC = P39   | IOSTANDARD = LVTTL; # INIT_B
NET "RST_N"           LOC = P38   | IOSTANDARD = LVTTL; # L65N2

# Bank 3
NET "SV2<4>"          LOC = P35   | IOSTANDARD = LVTTL; # L1P3
NET "SV2<5>"          LOC = P34   | IOSTANDARD = LVTTL; # L1N3
NET "SV2<6>"          LOC = P33   | IOSTANDARD = LVTTL; # L2P3
NET "SV2<7>"          LOC = P32   | IOSTANDARD = LVTTL; # L2N3
NET "SV2<8>"          LOC = P30   | IOSTANDARD = LVTTL; # L36P3
NET "SV2<9>"          LOC = P29   | IOSTANDARD = LVTTL; # L36N3
NET "SV2<10>"         LOC = P27   | IOSTANDARD = LVTTL; # L37P3
NET "SV2<11>"         LOC = P26   | IOSTANDARD = LVTTL; # L37N3
NET "SV2<12>"         LOC = P24   | IOSTANDARD = LVTTL; # L41P3
NET "SV2<13>"         LOC = P23   | IOSTANDARD = LVTTL; # L41N3
NET "SV2<14>"         LOC = P22   | IOSTANDARD = LVTTL; # L42P3
NET "SV2<15>"         LOC = P21   | IOSTANDARD = LVTTL; # L42N3
NET "SV2<16>"         LOC = P17   | IOSTANDARD = LVTTL; # L43P3
NET "SV2<17>"         LOC = P16   | IOSTANDARD = LVTTL; # L43N3
NET "SV2<18>"         LOC = P15   | IOSTANDARD = LVTTL; # L44P3
NET "SV2<19>"         LOC = P14   | IOSTANDARD = LVTTL; # L44N3
NET "SV2<20>"         LOC = P12   | IOSTANDARD = LVTTL; # L49P3
NET "SV2<21>"         LOC = P11   | IOSTANDARD = LVTTL; # L49N3
NET "SV2<22>"         LOC = P10   | IOSTANDARD = LVTTL; # L50P3
NET "SV2<23>"         LOC = P9    | IOSTANDARD = LVTTL; # L50N3
NET "SV2<24>"         LOC = P8    | IOSTANDARD = LVTTL; # L51P3
NET "SV2<25>"         LOC = P7    | IOSTANDARD = LVTTL; # L51N3
NET "SV2<26>"         LOC = P6    | IOSTANDARD = LVTTL; # L52P3
NET "SV2<27>"         LOC = P5    | IOSTANDARD = LVTTL; # L52N3
NET "SV2<28>"         LOC = P2    | IOSTANDARD = LVTTL; # L83P3
NET "SV2<29>"         LOC = P1    | IOSTANDARD = LVTTL; # L83N3
